<!DOCTYPE html>
<html lang="en" ng-app='synapse' ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Synapse 2017</title>
    <base href="/">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/Style.css">
    <style>
        .dashboard {
            padding: 15px;
        }

        .btn {
            border-radius: 5px;
        }

        a {
            color: black;
        }

        a:hover {
            color: black;
            text-decoration: none;
        }

        .user_details {
            text-align: left;
        }

        .event_card {
            height: 180px;
            padding: 20px;
            text-align: center;
            background-color: #e6e6e6;
            margin-bottom: 30px;
        }
        .loader {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        body{
          height: 100vh;
        }
        .d-none{
          display: none !important;
        }
    </style>
</head>
<body ng-controller='DashboardController' ng-init='getEventList()'>
<img ng-hide="dashboardLoaded" src="assets/ripple.gif" class="loader" alt="">
<div ng-show="dashboardLoaded" class="container dashboard" >
    <a>
        <button class="btn btn-default" style="float:right;" ng-click="logoutUser()">LOG OUT</button>
    </a>
    <br>
    <h1 class="heading padding" style="color: black;">SYNAPSE 2017</h1>
    <hr class="under_head">
    <br>
    <h2 class="heading padding">USER DETAILS</h2><br>
    <h1 class="text-center" ng-if='loading'>Please wait</h1>
    <div class="user_details" ng-if='!loading'>
        <div class="row">
            <div class="col-md-6">
                <p class="lead min_padding">Name : {{participant.name}}</p>
            </div>
            <div class="col-md-6">
                <p class="lead min_padding">Email Address : {{participant.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="lead min_padding">Contact Number : {{participant.contact}}</p>
            </div>
            <div class="col-md-6">
                <p class="lead min_padding">College Name : {{participant.institute}}</p>
            </div>
        </div>
    </div>
    <br>
    <!-- <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#edit">EDIT DETAILS</button> -->
    <div id="edit" class="collapse">
        <div class="center-block" style="width: 300px;text-align: left;">
            <br>
            <form name='registrationForm'>
                <div class="form-group">
                    <label class="lead min_padding" for="usr">Name :</label>
                    <input type="text" class="form-control" id="usr" required ng-model='participant.name'>
                </div>
                <div class="form-group">
                    <label class="lead min_padding" for="num">Contact Number :</label>
                    <input type="number" class="form-control" id="num" required ng-model='participant.contact'>
                </div>
                <div class="form-group">
                    <label class="lead min_padding" for="email">Email :</label>
                    <input type="email" class="form-control" id="email" required ng-model='participant.email'>
                </div>
                <div class="form-group">
                    <label class="lead min_padding" for="clg_name">College Name :</label>
                    <input type="text" class="form-control" id="clg_name" required ng-model='participant.institute'>
                </div>
                <br>
                <button type="button" style="width: 200px;" class="btn btn-primary center-block" href="#">Edit</button><br>
            </form>
        </div>
    </div>
    <h2 class="heading padding" ng-if="checkEventsLength()">REGISTERED EVENTS</h2><br>
    <div class="row">
        <div class="col-md-3" ng-repeat='event in participantEvents'>
          <div class="event_card">
            <h3>{{event.name}}</h3>
            <br>
            <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#shailee">EXPLORE</button> -->
            <button type="button" class="btn btn-primary" ng-click="deRegisterEvent(event.id)">De-register
                </button>
          </div>
        </div>
    </div>
    <h2 class="heading padding">EVENTS LIST</h2><br>
    <div class="row">
        <div class="col-md-3" ng-repeat='event in events'>
            <div class="event_card">
                <h3>{{event.name}}</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#{{event.id}}">REGISTER
                </button>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="event_card">
                <h3>DA-RUSH</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#darush">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Naach</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#naach">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Rampage</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#rampage">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Hackathon</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#hackathon">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Surge</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#surge">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>INC</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#INC">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Hip-Hop Street</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#hiphop">REGISTER</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Masquerade</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#Masquerade">REGISTER
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="event_card">
                <h3>Footloose</h3>
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#footloose">REGISTER
                </button>
            </div>
        </div> -->
    </div>

    <!-- MODAL -->
    <!-- Shailee -->
    <div class="modal fade" id="SY17E001" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Shailee</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <label>Writing Contest - </label> <input type="checkbox" value="Writing_Contest"><br><br>
                        <label>Spelling Bee - </label> <input type="checkbox" value="Spelling_Bee"><br><br>
                        <label>Author's Session - </label> <input type="checkbox" value="Author's_Session"><br><br>
                        <label>Poetry Slam - </label> <input type="checkbox" value="Poetry_Slam"><br><br>
                        <label>Literature Quiz - </label> <input type="checkbox" value="Literature_Quiz"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E001', 'Shailee')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Masquerade-->
    <div class="modal fade" id="SY17E010" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Masquerade</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding" for="usr">Team Name :</label>
                            <input type="text" class="form-control" id="usr"  ng-model="eventsFormData.SY17E010.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding" for="num">Team Size :</label>
                            <input type="number" class="form-control" id="num"  ng-model="eventsFormData.SY17E010.teamSize">
                        </div>

                        <label>Naivete - </label> <input type="checkbox" value="Naivete"><br><br>
                        <label>Felicity - </label> <input type="checkbox" value="Felicity"><br><br>
                        <label>Procenium - </label> <input type="checkbox" value="Procenium"><br><br>
                        <label>Pehchan Kaun - </label> <input type="checkbox" value="Pehchan_Kaun"><br><br>
                        <label>Goofspoof - </label> <input type="checkbox" value="Goofspoof"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E010', 'Masquerade')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- CS-->
    <div class="modal fade" id="SY17E012" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Counter Strike 1.6</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.member2">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.member3">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 4 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.member4">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 5 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E012.member5">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E012', 'CS-1.6')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Dota-2-->
    <div class="modal fade" id="SY17E013" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">DOTA 2</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.member2">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.member3">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 4 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.member4">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 5 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E013.member5">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E013', 'Dota-2')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--NFS-MW-->
    <div class="modal fade" id="SY17E014" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Need For Speed - Most Wanted</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E014.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E014.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E014.member2">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E014.member3">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 4 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E014.member4">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E014', 'NFS-MW')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Age-Of-Empires-->
    <div class="modal fade" id="SY17E015" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Age of Empires</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E015.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E015.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E015.member2">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E015', 'Age-Of-Empires')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--Mini-Militia-->
    <div class="modal fade" id="SY17E016" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Mini Militia</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E016.teamSize">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E016.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E016.member2">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E016.member3">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E016', 'Mini-Militia')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Rhapsody-->
    <div class="modal fade" id="SY17E002" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Rhapsody</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding" for="usr">Team Name :</label>
                            <input type="text" class="form-control" id="usr" ng-model="eventsFormData.SY17E002.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding" for="num">Team Size :</label>
                            <input type="number" class="form-control" id="num" ng-model="eventsFormData.SY17E002.teamSize">
                        </div>

                        <label>Indian Solo - </label> <input type="checkbox" value="Indian Solo"><br><br>
                        <label>Indian group - </label> <input type="checkbox" value="Indian Group"><br><br>
                        <label>Western solo - </label> <input type="checkbox" value="Western Solo"><br><br>
                        <label>Western group - </label> <input type="checkbox" value="Western Group"><br><br>
                        <label>Instrumental - </label> <input type="checkbox" value="Instrumental"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E002', 'Rhapsody')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--DA-Rush-->
    <div class="modal fade" id="SY17E003" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">DA Rush</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E003.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" required ng-model="eventsFormData.SY17E003.teamSize">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E003.member1">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E003.member2">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" required ng-model="eventsFormData.SY17E003.member3">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E003', 'DA-Rush')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Naach-->
    <div class="modal fade" id="SY17E004" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Naach</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding" for="usr">Team Name :</label>
                            <input type="text" class="form-control" id="usr" ng-model="eventsFormData.SY17E004.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding" for="num">Team Size :</label>
                            <input type="number" class="form-control" id="num" ng-model="eventsFormData.SY17E004.teamSize">
                        </div>

                        <label>Solo - </label> <input type="checkbox" value="Solo"><br><br>
                        <label>Duet - </label> <input type="checkbox" value="Duet"><br><br>
                        <label>Group - </label> <input type="checkbox" value="Group"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E004', 'Naach')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Footloose-->
    <div class="modal fade" id="SY17E011" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Footloose</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding" for="usr">Team Name :</label>
                            <input type="text" class="form-control" id="usr" ng-model="eventsFormData.SY17E011.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding" for="num">Team Size :</label>
                            <input type="number" class="form-control" id="num" ng-model="eventsFormData.SY17E011.teamSize">
                        </div>

                        <label>Solo - </label> <input type="checkbox" value="Solo"><br><br>
                        <label>Duet - </label> <input type="checkbox" value="Duet"><br><br>
                        <label>Group - </label> <input type="checkbox" value="Group"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E011', 'Footloose')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Rampage-->
    <div class="modal fade" id="SY17E005" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Rampage</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E005.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" ng-model="eventsFormData.SY17E005.teamSize">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E005', 'Rampage')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Hackathon-->
    <div class="modal fade" id="SY17E006" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Hackathon</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.teamName" required>
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" ng-model="eventsFormData.SY17E006.teamSize" required>
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 1 :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.member1" required>
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 2 :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.member2" required>
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 3 :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.member3">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 4 :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.member4">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Member 5 :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E006.member5">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E006', 'Hackathon')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- INC-->
    <div class="modal fade" id="SY17E008" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">INC</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E008.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" ng-model="eventsFormData.SY17E008.teamSize">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E008', 'INC')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Surge-->
    <div class="modal fade" id="SY17E007" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Surge</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E007.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" ng-model="eventsFormData.SY17E007.teamSize">
                        </div>
                        <label>SNAPSHOT - </label> <input type="checkbox" value="SNAPSHOT"><br><br>
                        <label>CELLULOID - </label> <input type="checkbox" value="CELLULOID"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E007', 'Surge')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Hip Hop Street-->
    <div class="modal fade" id="SY17E009" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">Hip Hop Street</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Name :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E009.teamName">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="number" class="form-control" ng-model="eventsFormData.SY17E009.teamSize">
                        </div>
                        <label>Beat boxing/Rapping - </label> <input type="checkbox" value="Writing_Contest"><br><br>
                        <label>Dance - </label> <input type="checkbox" value="Spelling_Bee"><br><br>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E009', 'Hip-Hop-Street')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E009')">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- ACCOMODATION-->
    <div class="modal fade" id="SY17E017" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="heading padding">ACCOMMODATION</h2>
                    <hr class="under_head">
                    <br>
                    <div class="center-block" style="width:300px;text-align: left">
                        <div class="form-group">
                            <label class="lead min_padding">Team Size :</label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E017.teamSize">
                        </div>
                        <div class="form-group">
                            <label class="lead min_padding">Number of Days : </label>
                            <input type="text" class="form-control" ng-model="eventsFormData.SY17E017.Days">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="registerEvent('SY17E017', 'ACCOMMODATION')">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal('#SY17E017')">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js" charset="utf-8"></script>
<script src="assets/firebase/firebase.js"></script>
<script src="assets/Javascript/app.js" charset="utf-8"></script>
<script src="assets/Javascript/dashboard.js" charset="utf-8"></script>

</body>
</html>
